:root {
  --preto: #2a2a2a;
  --blush: #fff; /* Nova cor blush mais suave */
  --crepe: #d1aaa3;
  --tulle: #eccfd1;
  --branco: #ede7e7;
  --pink: #ff7eb9; /* Nova cor rosa */
  --azul: #6d8ea0; /* Azul suave */
  --verde: #8db580; /* Verde suave */
  --fonte-marrom: #7D6F62; /* Cor da fonte branca */
  --fundo-claro: #F9F9F9; /* Fundo claro quase branco */
}


body {
  width: 100%;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--fundo-claro); /* Fundo claro quase branco */
  color: var(--fonte-marrom);
}

.section-title {
  font-family: 'Great Vibes', cursive;
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.section-subtitle {
  font-family: 'Great Vibes', cursive;
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.section-text {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.couple {
  margin-top: 50px;
}

.couple-name {
  font-family: 'Great Vibes', cursive;
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.couple-img {
  border: 5px solid var(--tulle);
}

.sosmed {
  margin-top: 10px;
  display: inline;
}

.sosmed a {
  text-decoration: none;
  margin: 0 3px;
}

.sosmed a:hover {
  color: var(--crepe);
}

.sosmed-right {
  float: right;
}

.sosmed-left {
  float: left;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  filter: saturate(80%);
  background-image: url(/img/noivos/noivos02.jpg);
  background-size: cover;
  background-position: center;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinhar no topo */
  align-items: center; /* Centralizar horizontalmente */
}

.hero main {
  position: relative;
  z-index: 1;
}

.hero h1,
.hero h4,
.hero p {
  font-family: 'Montserrat';
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  font-weight: 300;
  margin: 0 auto;

}
.hero .container {
  display: flex;
  justify-content: center;
  background-color: red;

}

.hero h1 {
  font-size: 6rem;
  margin-top: 20px; /* Ajustar margem superior */
  position: fixed;
  top: 10px;
  left: 10px;
  text-align: center;
  width: 100%;
}

.hero h4 {
  font-size: 2rem;
  bottom: 70px;
  text-align: center;
  position: fixed;
}

.hero p {
  font-size: 2rem;
}

.hero a {
  box-shadow: var(--shadow);
  position: fixed;
  bottom: 20px;
  text-align: center;
}

.hero a:hover {
  background-color: var(--pink);
  color: #eaeaea;
}

#hero .btn {
  font-family: sans-serif;
  background-color: var(--tulle);
  color: var(--preto);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  margin-top: 20px;
}

#hero .btn:hover {
  background-color: var(--crepe);
}

#hero .btn i {
  font-size: 1.0rem;
}

/* Navbar */
.mynavbar {
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
  align-items: center;
  color: black;
  font-family: sans-serif;
  font-size: small;
}

.home {
  background-size: cover;
  min-height: 100vh;
  background-color: var(--blush);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.acomodacao h2 {
  background-color: transparent;
  font-family: 'Cormorant Garamond'; /* Alteração da fonte para Cormorant Garamond */
  font-size: 4rem;
  padding: 40px;
  border-radius: 10px;
}


.home h3 {
  
  margin-bottom: 1rem;
  text-align: center;
}

.home p {
  font-size: 1.1rem;
  text-align: justify;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Great Vibes", cursive;
  font-size: 2.6rem;
  color: #7D6F62;
}

.home .couple img {
  width: 100%;
}

.info {
  background-color: var(--branco); /* Cor blush mais suave */
  color: var(--preto);
  padding-top: 80px;
  padding-bottom: 80px;
}

.info .card {
  border: none;
  background-color: var(--blush);
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.info .card-img-top {
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.info .card-body {
  padding: 20px;
  min-height: 200px;
}

.info .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--preto);
  margin-bottom: 15px;
}

.info .card-text {
  font-size: 1.2rem;
  color: var(--preto);
  margin-bottom: 15px;
}

.info .btn {
  background-color: var(--crepe);
  color: var(--preto);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.info .btn:hover {
  background-color: var(--tulle);
}

#acomodacao {
  padding: 80px 0;
  background-color: var(--blush); /* Cor blush mais suave */


}


#acomodacao p {
  font-size: 1.2rem;
  color: var(--preto);
  margin-bottom: 20px;
  text-align: justify;
}

#acomodacao .btn {
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#acomodacao .btn-primary {
  background-color: #25D366; /* Cor do WhatsApp */
  color: #fff; /* Cor do texto */
}

#acomodacao .btn-outline-secondary {
  color: #000; /* Cor do texto */
  border-color: #000; /* Cor da borda */
}

#acomodacao .btn:hover {
  transform: translateY(-2px);
}

#acomodacao img {
  margin-top: 50px;
  border-radius: 10px; /* Bordas arredondadas */
}

#acomodacao .booking-btn {
  color: #fff; /* Cor da fonte branca */
  background-color: #0071c2; /* Cor azul do Booking.com */
  border-color: #0071c2; /* Cor azul do Booking.com para a borda */
}

#acomodacao .booking-btn:hover {
  background-color: #005193; /* Cor azul mais escura para o hover */
  border-color: #005193; /* Cor azul mais escura para a borda no hover */
}

#foto-extra {
  background-image: url(/img/noivos/noivos01.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;

}

#foto-extra .container {
  padding: 50px 20px; /* Ajuste conforme necessário */
  width: 100%;
  height: 400px;
}